body{
    text-align: center;
}
p{
    font-size: 2rem;
    margin-top: 5%;
}
#printer-button{
    padding: 0.5rem;
    font-size: 110%;
    margin-bottom: 5%;
}
.upgrade{
    width: 20%;
    font-size: 1.2rem;
}
#save-button{
    position: absolute;
    top: 95%;
}