<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
    <title>Money Printer!</title>

</head>
<body>
    <h1>Money Printer!</h1>
    <div id="interface" style="display: none;">
        <p>Money: <span id="money-count">0</span></p>
        <button id="printer-button" onclick="print_money()" id="print-button">Print money!</button>
        
        <div id="upgrades">
            {% for i in range(0, 8, 2) %}
                <button class="upgrade" id="{{ i }}" onclick="click_upgrade(this.id)">
                    Upgrade manual printer: <span id="price{{ i + 1 }}">0</span> money
                </button>
                <button class="upgrade" id="{{ i + 1 }}" onclick="automatic_upgrade(this.id)">
                    Get automatic printer: <span id="price{{ i + 2 }}">0</span> money
                </button>
                <br>
            {% endfor %}
        </div>
        <button id="save-button" onclick="saveGame()">Save Game</button>
    </div>
</body>
</html>